<div class="bien-visite-container">
  <h2>Visites du bien #{{ bienId }}</h2>

  <ng-container *ngIf="loading">Chargement...</ng-container>
  <ng-container *ngIf="error">{{ error }}</ng-container>

  <ng-container *ngIf="!loading && visites.length === 0">
    <p>Aucune visite prévue pour ce bien.</p>
  </ng-container>

  <div *ngIf="visites.length > 0" class="visite-list">
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Client</th>
          <th>Statut</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let v of visites">
          <td>{{ v.date | date:'short' }}</td>
          <td>{{ v.client?.nom }} {{ v.client?.prenom }}</td>
          <td>{{ v.statut }}</td>
          <td>
            <button
              *ngIf="v.statut !== 'Validée'"
              (click)="validerVisite(v.id)"
              class="btn-valider"
            >
              Valider
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
