<div class="container mt-3">
  <h3 class="page-title">Liste des Clients</h3>
  <button class="btn btn-primary mb-3" (click)="openCreateModal()">Ajouter Client</button>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
        <th>CIN</th>
        <th>Téléphone</th>
        <th>Profession</th>
        <th>Passeport</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of clients">
        <td>{{ c.id }}</td>
        <td>{{ c.nom }}</td>
        <td>{{ c.prenom }}</td>
        <td>{{ c.email }}</td>
        <td>{{ c.cin }}</td>
        <td>{{ c.telephone }}</td>
        <td>{{ c.profession }}</td>
        <td>{{ c.passeport }}</td>
        <td>
          <button class="btn btn-warning btn-sm me-2" (click)="openEditModal(c)">Modifier</button>
          <button class="btn btn-danger btn-sm" (click)="openDeleteModal(c)">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
